<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center mt-5">Order Placed Successfully</h1>
                <a href="/orders" class="btn text-light mt-4" style="background-color: #3498DB;
                background: linear-gradient(105deg, rgb(15, 8, 116) 0%, rgb(8, 57, 97) 100%);">View Products</a>
            </div>
        </div>
    </div>
</section>